In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv(r'\Users\James\Desktop\Datasets\books.csv')

In [17]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11127 entries, 0 to 11126
Data columns (total 13 columns):
bookID                11127 non-null int64
title                 11127 non-null object
authors               11127 non-null object
average_rating        11127 non-null object
isbn                  11127 non-null object
isbn13                11127 non-null object
language_code         11127 non-null object
num_pages             11127 non-null object
ratings_count         11127 non-null int64
text_reviews_count    11127 non-null int64
publication_date      11127 non-null object
publisher             11127 non-null object
Unnamed: 12           4 non-null object
dtypes: int64(3), object(10)
memory usage: 1.1+ MB
None

num_pages should be int but is an object

In [18]:
print(df[df['num_pages'].str.contains('[^-0-9\/]+')])

      bookID                                              title  \
3348   12224  Streetcar Suburbs: The Process of Growth in Bo...
4702   16914                  The Tolkien Fan's Medieval Reader
5877   22128                     Patriots (The Coming Collapse)
8979   34889  Brown's Star Atlas: Showing All The Bright Sta...

                                       authors  \
3348                           Sam Bass Warner
4702  David E. Smith (Turgon of TheOneRing.net
5877                              James Wesley
8979                                     Brown

                                         average_rating  isbn      isbn13  \
3348                                  Jr./Sam B. Warner  3.58   674842111
4702   one of the founding members of this Tolkien w...  3.58  1593600119
5877                                             Rawles  3.63  156384155X
8979                                     Son & Ferguson     0   851742718

     language_code num_pages  ratings_count  text_reviews_count  \
3348      9.78E+12     en-US            236                  61
4702      9.78E+12       eng            400                  26
5877      9.78E+12       eng            342                  38
8979      9.78E+12       eng             49                   0

     publication_date  publisher                  Unnamed: 12
3348                6  4/20/2004     Harvard University Press
4702                4   04-06-04            Cold Spring Press
5877                4  1/15/1999  Huntington House Publishers
8979                0   05-01-77    Brown Son & Ferguson Ltd.

Looking at the rows with strings for num_pages shows that
in the average_rating column the incorrect information
has been input. From here the columns have been shifted.
average_rating values becomes the isbn, isbn to isbn 13
and so on. There are only four instances of these books
so removing the rows is fine. The books are also not any
major books that lay heavily as an outliar.

Now num_pages can be converted to a numeric
column

In [19]:
df = df.drop(df[df['num_pages'].str.contains('[^-0-9\/]+')].index)
df['num_pages'] = pd.to_numeric(df['num_pages'])

In [20]:
print(df.info())
print(df['isbn'].value_counts())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11123 entries, 0 to 11126
Data columns (total 13 columns):
bookID                11123 non-null int64
title                 11123 non-null object
authors               11123 non-null object
average_rating        11123 non-null object
isbn                  11123 non-null object
isbn13                11123 non-null object
language_code         11123 non-null object
num_pages             11123 non-null int64
ratings_count         11123 non-null int64
text_reviews_count    11123 non-null int64
publication_date      11123 non-null object
publisher             11123 non-null object
Unnamed: 12           0 non-null object
dtypes: int64(4), object(9)
memory usage: 1.2+ MB
None
1415918090    1
393926117     1
140447946     1
226307824     1
143037498     1
             ..
141001828     1
1593109156    1
670826901     1
787982377     1
142401102     1
Name: isbn, Length: 11123, dtype: int64

I don't care about isbn and isbn13 as they are
just unique codes to identify a book.
As seen above there are no overlaps with the
unique codes which is good as no two books
should have the same.
isbn13 contains overlaps but due only to the
fact that they are in standard form.

From df.info I can see that the publication_date
column has no consistent date format.

In [21]:
print(df['publication_date'])
df = df.drop(['isbn','isbn13'],axis=1)
df['publication_date'] = \
    pd.to_datetime(df['publication_date'],
    errors='coerce').dt.strftime('%d/%m/%Y')

0         9/16/2006
1          09-01-04
2          11-01-03
3          05-01-04
4         9/13/2004
            ...
11122    12/21/2004
11123      12-01-88
11124      08-01-93
11125     2/27/2007
11126     5/28/2006
Name: publication_date, Length: 11123, dtype: object

In [22]:
print(df['publication_date'].value_counts())
print(df.info())

01/10/2005    56
01/11/2005    53
01/09/2006    51
01/10/2006    48
01/11/2006    40
              ..
19/06/2004     1
10/02/2004     1
09/09/1994     1
09/10/1995     1
28/09/1993     1
Name: publication_date, Length: 3677, dtype: int64
<class 'pandas.core.frame.DataFrame'>
Int64Index: 11123 entries, 0 to 11126
Data columns (total 11 columns):
bookID                11123 non-null int64
title                 11123 non-null object
authors               11123 non-null object
average_rating        11123 non-null object
language_code         11123 non-null object
num_pages             11123 non-null int64
ratings_count         11123 non-null int64
text_reviews_count    11123 non-null int64
publication_date      11123 non-null object
publisher             11123 non-null object
Unnamed: 12           0 non-null object
dtypes: int64(4), object(7)
memory usage: 1.0+ MB
None

average_rating should have type float

In [23]:
print(df['average_rating'].unique())
df['average_rating'] = pd.to_numeric(df['average_rating'])

['4.57' '4.49' '4.42' '4.56' '4.78' '3.74' '4.73' '4.38' '4.22' '4.21'
 '3.44' '3.87' '4.07' '3.9' '3.83' '3.86' '3.91' '3.93' '4.59' '4.5'
 '4.36' '4.53' '3.84' '3.72' '4' '3.88' '4.33' '3.45' '3.76' '3.6' '4.06'
 '4.17' '3.55' '3.98' '4.13' '3.95' '4.24' '4.34' '3.92' '4.23' '3.75'
 '3.94' '3.77' '4.46' '3.68' '3.99' '3.25' '3.89' '3.82' '3.78' '4.01'
 '4.35' '4.28' '3.34' '3.67' '3.48' '3.5' '3.62' '4.27' '3.39' '4.12'
 '4.08' '4.05' '3.85' '2.99' '4.19' '3.71' '4.2' '3.65' '3.4' '4.11'
 '3.42' '4.02' '3.69' '4.1' '3.66' '4.61' '4.04' '3.97' '4.14' '3.57'
 '3.43' '3.22' '3.64' '3.96' '3.8' '3.81' '3.79' '3.23' '4.15' '4.39'
 '4.03' '3.73' '3.51' '3.63' '3.09' '3.59' '4.29' '0' '4.25' '4.26' '3.61'
 '4.16' '4.55' '4.52' '3.41' '4.7' '4.18' '3.58' '4.51' '3.15' '3.31'
 '4.09' '3.49' '3.56' '4.47' '4.44' '3.7' '4.32' '4.4' '4.31' '4.43' '2.8'
 '3.46' '2.83' '4.62' '2.67' '4.45' '4.3' '5' '3.1' '3.08' '3.27' '3.33'
 '3' '4.67' '4.63' '3.52' '3.36' '3.54' '3.17' '4.37' '3.29' '4.64' '3.38'
 '3.37' '3.16' '3.53' '2.88' '2.98' '3.35' '3.3' '3.24' '4.41' '4.48'
 '4.54' '4.6' '3.32' '3.13' '2' '3.2' '4.58' '2.82' '3.28' '2.62' '2.92'
 '3.47' '3.02' '1' '3.14' '3.12' '3.18' '2.86' '3.26' '3.19' '3.03' '3.07'
 '3.11' '4.91' '2.55' '2.81' '4.75' '3.21' '4.71' '4.8' '2.72' '2.79'
 '2.96' '2.75' '4.86' '4.65' '2.5' '4.82' '4.76' '4.72' '4.69' '1.67'
 '3.06' '2.94' '2.89' '3.04' '2.4' '2.61' '2.77' '2.63' '4.88' '4.83'
 '2.93' '2.33']

In [24]:
print(df.info())
print(df['language_code'].value_counts())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11123 entries, 0 to 11126
Data columns (total 11 columns):
bookID                11123 non-null int64
title                 11123 non-null object
authors               11123 non-null object
average_rating        11123 non-null float64
language_code         11123 non-null object
num_pages             11123 non-null int64
ratings_count         11123 non-null int64
text_reviews_count    11123 non-null int64
publication_date      11123 non-null object
publisher             11123 non-null object
Unnamed: 12           0 non-null object
dtypes: float64(1), int64(4), object(6)
memory usage: 1.0+ MB
None
eng      8908
en-US    1408
spa       218
en-GB     214
fre       144
ger        99
jpn        46
mul        19
zho        14
grc        11
por        10
en-CA       7
ita         5
lat         3
enm         3
rus         2
swe         2
nl          1
gla         1
ara         1
tur         1
wel         1
glg         1
ale         1
srp         1
nor         1
msa         1
Name: language_code, dtype: int64

en-(US,GB,CA) for the column langauge_codes are
United States, Great Briton, Canadian. They are all the
same so i will condense them to all say eng

In [25]:
language_list = ['en-US','en-GB','en-CA']
df['language_code'] = df['language_code'].apply(lambda x: 'eng' if x in language_list else x)
print(df['language_code'].value_counts())

eng    10537
spa      218
fre      144
ger       99
jpn       46
mul       19
zho       14
grc       11
por       10
ita        5
lat        3
enm        3
rus        2
swe        2
nl         1
srp        1
gla        1
ara        1
tur        1
wel        1
glg        1
ale        1
nor        1
msa        1
Name: language_code, dtype: int64

Only look at books with eng language as they will
have different markets

Analysis
-------------------------
How the number of text_reviews correlates to average_rating

How publication date and rating/text review changes

Top rated authors with the number of books they have

Publishers average rating with books they have published

Publishes most active years

Publisher average pages they

In [26]:
df = df[df['ratings_count']>0]
df = df[df['language_code']=='eng']

In [27]:
pub_avg = df.groupby('publisher').agg({'average_rating':'mean','ratings_count':'sum'}).sort_values((['average_rating','ratings_count']),ascending=(False,True))

pub_avg = pub_avg[pub_avg>0]
print(pub_avg.head(35))

                                          average_rating  ratings_count
publisher
Academica Press                                     5.00              1
Boosey & Hawkes Inc                                 5.00              1
Schirmer Mosel                                      5.00              1
T&T Clark Int'l                                     5.00              1
University Press of New England                     5.00              1
Chartwell Books                                     5.00              2
Courage Books                                       5.00              2
Vantage Press                                       5.00              4
Square One Publishers                               5.00              5
Welcome Books                                       4.88              8
Teacher's Pet Publications                          4.86              5
Universe Publishing(NY)                             4.83              6
Skinner House Books                                 4.75              8
Steidl                                              4.73            144
Four Ninety-Eight Productions                       4.72             29
Zondervan Publishing House                          4.70           4166
Boston Common Press                                 4.69             26
Servant Publications                                4.67              6
Harrison House                                      4.67              9
Time Warner Books UK                                4.63            303
Pearson Education                                   4.62             17
Western Publishing Company  Golden Books            4.62             23
Library of America (NY)                             4.61           1495
Fellowship for the Performance                      4.60             28
Island Press                                        4.59             16
Collins Modern Classics                             4.59            141
Barbour Books                                       4.58              8
Readers Digest                                      4.58             12
Rufus Publications                                  4.58             38
Longmeadow Press                                    4.58            433
Penguin Classics Deluxe Edition                     4.58          18874
Black Classic Press                                 4.56            402
Bloomsbury UK                                       4.56           3141
Russell Enterprises                                 4.55            161
Twin Palms Publishers                               4.54             58

In [28]:

path = r'\Users\James\Desktop/'
df.to_excel(path+'book_use.xlsx')